<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       <title>Check IP</title>
       <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    </head>
    <body>
        <img src="{{ url_for('static', filename='truecaller.png') }}">
        <br>
        <form action="search" method="post">
        {% if alert %}
            <p>Alert: {{ alert }}</p>
        {%endif%}
        {% if name %}
            <p>Name: {{ name }}</p>
        {% endif %}
        {% if carrier %}
            <p>Carrier: {{ carrier }}</p>
        {% endif %}

        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="SEARCH" id="search">
      </form>
    </body>
</html>
